/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* SMARTPHONE */
@media(max-width:500px){
    nav{
        min-height: 8vh;
    }
    #navbar h1{
        font-size: 4vh;
        line-height: 1.4;
        margin: 2vh;
        align-self: flex-start;
    }
    #navbar ul{
        display: none;
        flex-direction: column;
    }
    .hamburger-wrapper{
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }
    .hamburger-wrapper .menubar-image{
        display: flex;
        width: 10vh; 
        height: auto;
        padding: 2vh;
    }
    #navbar .open-nav-items {
        display: flex;
        align-items: flex-end;
        /* background-color: red; */
        width: 30vw;
        margin: 15vh 0 5vh 0;
        flex-direction: column;
        font-size: 5vh;
    }
    li{
        font-size: 4vh;
        margin: 2vh;
    }
    /* SMARTPHONE FOOTER */
    footer #social-icons{
        display: flex;
        justify-content: space-around;
        width: 100vw;
        padding: 3vw;
    }
    footer #social-icons a{
        font-size: 5vh;
    }
    footer p{
        font-size: 3vh;
        margin: 1vh auto;
    }
    /* SMARTPHONE HOME HERO SECTION */
#home-main{
    max-width: 100vw;
    padding: 1vh;
}
#intro{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    margin: auto;
    padding: 30vh 0;
}
.name{
    font-size: 6vh;
    line-height: 1.5;
    margin: 6vh auto;
    padding: 2vw;
}
#intro h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 5vh;
}
#intro p{
    display: flex;
    font-size: 4vh;
    line-height: 1.4;
    justify-content: center;
    margin: 0;
}
.btn-home{
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn-home a{
    font-size: 4vh;
    margin: 0vh 2vh 10vh 2vh;
    padding: 2vh;
    line-height: 1.4;
}
/* SMARTPHONE ABOUT WEBPAGE STYLING */

#about-main{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100vw;
    padding: 0;
    margin: 10vh 2vw;
}
.img-container{
    object-fit: cover;
    margin: 4vw;
}
#about img{
    width: 100%;
}
#about{
    width: 100%;
    font-size: 2vh;
    line-height: 1.4;
    text-align: center;
}
#about p{
    font-size: 3vh;
    margin: 3vh;
    text-align: left;
}
#skills{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 90%;
    height: auto;
    padding: 2vh;
    text-align: center;
}
#skills p{
    font-size: 3vh;
}
progress{
    width: 90%;
}

/* SMARTPHONE PROJECT PAGE */
#project-main{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin: 15vh 0;
    padding: 0;
}
.project{
    width: 90vw;
    height: auto;
    margin: 5vh;
    padding: 2vw;
}
.project img{
    width: 100%;
    height: auto;
}
.project a span{
   font-size: 3vh;
}

/* SMARTPHONE CONTACT WEBPAGE DESIGN */
#contact-main{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-self: center;
}
#contact-info{
    height: auto;
    width: 80vw;
    margin: 0;
    padding: 5vh;
}
form{
    margin: 2vh;
    padding: 5vh;
    width: 80vw;
}
.social-contacts{
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-content: center;
}
input{
    font-size: 3vh;
}
textarea{
  font-size: 3vh;
  width: 100%;
}
h3{
    width: 100%;
}   
.social-contacts .icon{
    width: 80%;
}

}





