/* RESET */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --light-color: rgb(0, 87, 138);
    --dark-color: rgba(0, 0, 0, 0.7);
    --font-color: rgb(255, 255, 255);
    --hover-bg-color: rgb(0, 0, 0);
    --darker-color: rgba(0, 0, 0, 0.8);
}
/* MAIN STYLING */
html,body{
    font-family: Arial, Helvetica, sans-serif; 
    line-height: 1vh;
    min-height: 90vh;
    position: relative;
    background-color: var(--light-color);
}
main{
    min-height: 80vh;
}
p{
    margin: 10vh 0vw;
}
/* NAVBAR AND FOOTER */
#navbar{
    background: var(--dark-color);
    color: #fff;
    display: flex;
    justify-content: space-around;
    overflow: auto;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
#navbar a{
    color: var(--font-color);
    text-decoration: none;
}
#navbar h1{
    padding-top: 5vh;
    font-size: 2vw;
}
#navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2vw;

}
#navbar ul li a{
    padding: 2vw;
    display: block;
    text-align: center;
    font-weight: 500;
}
#navbar ul li .current,
#navbar ul li a:hover{
    background-color: var(--hover-bg-color);
}
/* FOOTER */
footer, #footer{
    background-color: var(--dark-color);
    padding: 0.5vw;
    width: 100%;
    max-height: 30vh;
    position: absolute;
    top: 100%;
    margin-top: auto;
}
footer #social-icons{
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 1vw;
}
footer #social-icons a{
    color: var(--font-color);
    font-size: 2vw;
    margin: 2vw;
}
footer p{
    color: var(--font-color);
    text-align: center;
    margin: 1vw;
    font-size: 1.2vw;
}
/* UTILITT CLASSES */
.btn{
    color: var(--font-color);
    background-color: var(--darker-color);
    text-decoration: none;
    padding: 1vw;
}
div > .btn {
    margin: 0 0.5vw;
}
.btn:hover{
    background-color: var(--hover-bg-color);
}

/* HOME HERO SECTION */
#intro{
    color: var(--font-color);
    max-width: 800px;
    /* margin: 15vw auto 5vw auto; */
    text-align: center;
}
#home-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.name{
    background-color: var(--darker-color);
    padding: 1vw;
    font-size: 2vw;
    animation: my-name 10s infinite ease;
    
}
@keyframes my-name{
    25%{
        box-shadow: inset 200px 0 red;
        box-shadow: inset 0 200px red;
        color: var(--hover-bg-color);
    }
    75%{
        /* box-shadow: inset -200px 0 red; */
    }
}
h2{
    font-size: 1.8vw;
}
#intro p{
    font-size: 1.5vw;
    padding: 3vh 0;
}
/* ABOUT SECTION */
#about-main{
    display: flex;
    margin: 10vh; 
}
#about img{
    width: 30%;
    margin: 1vw;
    border-right: rgba(0, 0, 0, 0.9) solid 5px;
    border-bottom: rgba(0, 0, 0, 0.9) solid 5px;
}
#about{
    color: var(--font-color);
    text-align: right;
    width: 80%;
    padding: 2vw;
    margin: 10vh 1vw;
    text-align: justify;
    line-height: 3vh;
}
#skills{
    background-color: var(--darker-color);
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10vh auto;
    height: 100%;
    color: var(--font-color);
    text-align: center;
    padding: 1vh;
    font-size: 4vh;
}
#skills p{
    line-height: 1vw;
    font-size: 1.2vw;
    width: 100%;
    margin: 2vh auto;
}
#about p{
    margin: 5vh auto;
    font-size: 1.2vw;
}
progress{
    width: 90%;
}

/* WORK SECTIONS */
#project-main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20vh 8vw;
}
.project{
    width: 25vw;
    height: 60vh;
    margin: 5vh 1vw;
    background-color: var(--darker-color);
    padding: 2vw;
}
.project img{
    width: 100%;
    height: 60%;
}
.project a{
    text-decoration: none;
    color: var(--font-color);
    text-align: center;
    
}
.project a span{
    display: block;
    padding: 1.5vw;
    line-height: 4vh;
    font-family: Arial, Helvetica, sans-serif;
    
}
/* CONTACT PAGE */
#contact-main{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin: 20vh;
}
#contact-info{
    height: 60vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--darker-color);
    padding: 3vh;
}
form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: var(--font-color);
    width: 30%;
    background-color: var(--darker-color);
    padding: 5vh;
}
input{
    margin: 1vh auto;
    width: 100%;
    font-size: 3vh;
    padding: 1vh;
}
input[type="submit"]{
    margin: 5vh 0;
}
label{
    margin: 1vh 0;
}
textarea{
    min-height: 100px;
    max-height: 100px;
    margin-top: 1vh;
}
h3{
    text-align: center;
    color: var(--font-color);
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
}
.social-contacts{
    display: flex;
    flex-direction: column;
    margin: 2vh;
}
.social-contacts > .icon a {
    color: var(--font-color);
    font-size: 5vh;
    margin: 0 auto;
    text-align: left;
}
.social-contacts .icon{
    margin: 2vh;
    text-align: left;
}
.social-contacts p{
    color: var(--font-color);
    /* background-color: red; */
    margin: 2vh;
    line-height: 1;
}

/* SMALL SCREEN */
@media(max-width:900px){
    #navbar h1{
        padding-top: 3vh;
        font-size: 2.5vw;
    }
    #navbar ul{
        font-size: 2vw;
    
    }
    #navbar ul li a{
        padding: 3vw;
    }
    /* SMALL FOOTER */
    footer, #footer{
        padding: 1vw;
    }
    footer #social-icons{
        padding: 2vw;
    }
    footer #social-icons a{
        font-size: 4vw;
        margin: 4vw;
    }
    footer p{
        margin: 2vw;
        font-size: 2.5vw;
    }
    /* SMALL HOME AND HERO SECTION */
#home-main{
    height: 100vh;
}
.name{
    padding: 1vw;
    font-size: 4vw;
}
h2{
    font-size: 3.5vw;
}
#intro p{
    font-size: 3vw;
    padding: 3vh 0;
}

}





/* SMALLER SCREEN */
@media(max-width:380px){
    #navbar h1{
        padding-top: 5vh;
        font-size: 3vw;
    }
    #navbar ul{
        font-size: 2.5vw;
    
    }
    #navbar ul li a{
        padding: 4vw 1vw;
    }
    .btn-home {
        width: 100%;
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .btn-home a{
        display: block;
        width: 100vw;
    }




}





